.rolesPage {
  background-color: rgba(0, 0, 0, 0.941);
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 20px;
}

.rolesH {
  color: white;
  font-size: "2.25rem";
  background: linear-gradient(to right, white, #bcbcbcff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.RoleButton {
  background-color: #cbcbcb0a;
  color: rgb(255, 255, 255);
  border: 1px solid #9897977c;
  border-radius: 8px;
  padding: 5px 50px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.RoleButton:hover {
  background-color: rgba(55, 55, 55, 0.479) !important;
}
.rolesTable {
  margin-top: 30px;
  background-color: rgba(55, 55, 55, 0.479);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.innerTable {
  width: 97%;
  background-color: rgba(55, 55, 55, 0.479);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  padding-bottom: 10px;
  gap: 20px;
  border-radius: 5px;
}
.realTable {
  width: 97% !important;
}

.searchContainer {
  width: 97%;
}

.UserButton {
   background-color: rgba(10, 104, 159, 0.884);
    color: #ffffff;
    border: 1px solid rgb(53, 61, 74);
    border-Radius: 8px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    
}
.UserButton:hover {
   background-color: rgba(13, 79, 117, 0.884) !important;
    
}



.realTable {
  width: 100%;
  border-collapse: collapse;
  color: #f0f0f0;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #222222;
  border-radius: 10px;
  overflow: hidden;
}

.realTable thead th {
  background-color: #0000006b;
  color: #ffffffa6;
  padding: 10px;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #444;
}

.realTable tbody td {
  background-color: #1a1a1a;
  padding: 10px;
  vertical-align: middle;
  border-bottom: 1px solid #333;
}

.realTable th,
.realTable td {
  border-left: none;
  border-right: none;
}

.realTable {
  border: 1px solid #222222;
}

/* hover على الصف */

.permissionsDiv {
  padding: 10px 15px;
  height: 25px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
  display: inline-flex;
  margin-right: 10px;
}
