.rolesPage {
  background-color: rgba(0, 0, 0, 0.941);
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 20px;
}

.rolesH {
  color: white;
  font-size: "2.25rem";
  background: linear-gradient(to right, white, #bcbcbcff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.RoleButton {
  background-color: #cbcbcb0a;
  color: rgb(255, 255, 255);
  border: 1px solid #9897977c;
  border-radius: 8px;
  /* padding: 5px 50px; */

  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.RoleButton:hover {
  background-color: rgba(55, 55, 55, 0.479) !important;
}
.rolesTable {
  margin-top: 30px;
  background-color: rgba(55, 55, 55, 0.479);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px 0;
}
.innerTable {
  width: 97%;
  background-color: rgba(55, 55, 55, 0.479);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  padding-bottom: 10px;
  gap: 20px;
  border-radius: 5px;
}
.realTable {
  width: 97% !important;
}

.searchContainer {
  width: 97%;
}

.UserButton {
   background-color: rgba(10, 104, 159, 0.884);
    color: #ffffff;
    border: 1px solid rgb(53, 61, 74);
    border-Radius: 8px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    
}
.UserButton:hover {
   background-color: rgba(13, 79, 117, 0.884) !important;
    
}



.realTable {
  width: 100%;
  border-collapse: collapse;
  color: #f0f0f0;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #222222;
  border-radius: 10px;
  overflow: hidden;
}

.realTable thead th {
  background-color: #0000006b;
  color: #ffffffa6;
  padding: 10px;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #444;
}

.realTable tbody td {
  background-color: #1a1a1a;
  padding: 10px;
  vertical-align: middle;
  border-bottom: 1px solid #333;
}

.realTable th,
.realTable td {
  border-left: none;
  border-right: none;
}

.realTable {
  border: 1px solid #222222;
}

/* hover على الصف */

.permissionsDiv {
  padding: 10px 15px;
  height: 25px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
  display: inline-flex;
  margin-right: 10px;
}

/* container pagination */
.paginationContainer {
  background-color: #0f0f0f;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.paginationList {
  display: flex;
  list-style: none;
  gap: 8px;
  padding: 0;
  margin: 0;
}



.pageLink {
  color: #fff;
  background-color: #1c1c1c;
  border: 1px solid #333;
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.pageLink:hover:not(:disabled) {
  background-color: #444;
  color: #fff;
  transform: scale(1.05);
}

.pageLink:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.activePageLink {
  background-color: #555;
  border-color: #666;
  font-weight: bold;
}




/* //////////////////////////////////// */

.allDiv{
  width: 100%;
  display: flex;
  justify-content: space-between;
}



.inheritableDiv p{
  margin-left: 30px;
}


.saveBtn{
  font-weight: 500;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: var(--radius);
  transition: all 0.2s ease-in-out;
  background-color: rgba(10, 104, 159, 0.884);
  color: var(--primary-foreground);
  border-color: var(--primary);
   font-size: 0.95rem;
  height: 42px;
  padding: 0 1rem;
  border-radius: 6px;
}

.saveBtn:disabled {
  opacity: 0.6;       
  pointer-events: none;
  cursor: not-allowed; 

}

.saveBtn:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--secondary-foreground);
}


.activebtn {
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: rgb(10, 104, 159);
  transition: 0.2s ease-in-out;
}

.activebtn:hover {
  background-color: rgba(10, 104, 159, 0.884);
  ;
}

.inactivebtn {
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: #cbcbcb16;
  transition: 0.2s ease-in-out;
}

.inactivebtn:hover {
  background-color: rgba(55, 55, 55, 0.479);
}

.lockIcon {
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #cbcbcb15;
  transition: 0.2s ease-in-out;
}

.lockIcon:hover {
  background-color: rgba(55, 55, 55, 0.601);
}

.openlockIcon {
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #cbcbcb6c;
  transition: 0.2s ease-in-out;
}

.openlockIcon:hover {
  background-color: rgba(55, 55, 55, 0.479);
}

.custom-popup {
  border-radius: 20px !important;
  padding: 25px !important;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4) !important;
}

.activebtn:disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
.editebtn {
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: rgb(10, 104, 159);
  transition: 0.2s ease-in-out;
}

.editebtn:hover {
  background-color: rgba(10, 104, 159, 0.884);
  ;
}
.checkboxx {
  width: 13px;
  height: 13px;
  cursor: pointer;
  margin: 0px 2px;
  vertical-align: middle;
  accent-color: #4a90e2;
  transition: 0.2s ease;
}

.checkboxx:hover {
  transform: scale(1.15);
}
.sortBtn{
  color:rgba(73, 73, 73, 0.601) !important;
}
.sortBtn:hover{
  color: rgba(73, 73, 73, 0.864)  !important;
} 