.AdminBody {
  /* background: radial-gradient(circle at bottom, #3f6c98, #3c6690 70%); */
  background-color: rgba(0, 0, 0, 0.941);
  min-height: 100vh;
}

.parent_Admin {
  padding-top: 120px;
}

.adminTilte {
  margin: 25px;
  color: white;
}

.parentKpis {
  display: flex;
  justify-content: space-around;

}

.Kpis {
  width: 18%;
  height: 180px;
  background-color: rgba(55, 55, 55, 0.479);
  border: 1px solid rgba(0, 0, 0, 0.34);
  border-radius: 7px;
  padding: 18px 32px;
}

.KpisInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.kpisIcon {
  font-size: 21px;
  color: rgba(10, 104, 159, 0.884);
}

.count {
  margin: 25px 0px 17px 0px;
  color: rgb(0, 0, 0);
}

.kpisRole {
  font-size: 16px;
}

.parentBtns {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 50px !important;

}

.bgTable {
  background-color: rgba(55, 55, 55, 0.479);
}

.realTable {
  width: 100%;
  border-collapse: collapse;
  color: #f0f0f0;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #222222;
  border-radius: 10px;
  overflow: hidden;
}

.realTable thead th {
  background-color: #0000006b;
  color: #ffffffa6;
  padding: 10px;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #444;
}

.realTable tbody td {
  background-color: #1a1a1a;
  padding: 10px;
  vertical-align: middle;
  border-bottom: 1px solid #333;
}

.realTable th,
.realTable td {
  border-left: none;
  border-right: none;
}

.realTable {
  border: 1px solid #222222;
}

.UserButton {
   background-color: rgba(10, 104, 159, 0.884);
    color: #ffffff;
    border: 1px solid #000000ff;
    border-Radius: 8px;
    padding: 15px 50px;
    font-Weight: 500;
    font-Size: 18px;
    cursor: pointer;
    text-Decoration: none;
    transition: 0.2s ease-in-out;
    
}
.UserButton:hover {
   background-color: rgba(7, 68, 103, 0.884) !important;
    
}

.RoleButton {
   background-color:#cbcbcb0a;
    color: rgb(255, 255, 255);
    border: 1px solid #9897977c;
    border-Radius: 8px;
    padding: 15px 50px;
    font-Weight: 500;
    font-Size: 18px;
    cursor: pointer;
    text-Decoration: none;
    transition: 0.2s ease-in-out;
}
.RoleButton:hover{
   background-color: rgba(55, 55, 55, 0.479) !important;
   
}