

.demosection {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 17px;


  
}

.navbargradient {
  background-color:rgba(8, 85, 129, 0.884);;
  width: 80%;
  border-radius: 15px;
  z-index: 999 !important;
  opacity: 1;
}
.logoutbtn {
  transition: all 0.2s ease-in-out;
  background-color: rgba(19, 32, 84, 0.575);
  color: white;
  opacity: .9 !important;
  height: 38px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border-radius: 15px;
  width: 90px;
  text-decoration: none;
}


.freebtn {
  height: 38px !important;
  border-radius: 15px !important;
  color: white !important ;
  opacity: 0.9 !important ;

  
}
.freebtn:hover{
    color: white !important;
    background-color:  rgb(19, 32, 84) !important;
    border: 1px solid transparent !important;
}
.mainbtns{

    color: rgba(255, 255, 255, 0.778) !important;
    
}
.mainbtns:hover{

    color: rgb(255, 249, 249) !important;
    
}


/* Logo styles */
.logo {
  font-size: 1.5rem !important;
  font-weight:600 !important;
  opacity: .8 !important;
}
.navCollapseZ {
  position: relative !important; 
  z-index: 9999 !important;
  background: inherit; 
}

